body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#emailList {
    list-style-type: none;
    padding: 0;
}

#emailList li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: space-between;
}

#filterContainer {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

#filterContainer label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
    min-width: 150px; /* Adjust this value as needed */
}

.providerCheckbox {
    margin-right: 5px;
}
